
$primary: #1e90ff;
$border:#708090;
$gray: #808080;

.notification {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid $border;
  cursor: pointer;
  font-size: 0.9rem;
  
  &:hover {
    font-weight: 600;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__createdAt {
    color: $gray;
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
  }

  &__unread {
    background-color: $primary;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
  }
}